resolve-peers-from-workspace-root=true
manage-package-manager-versions=true
package-manager-strict-version=true
registry=https://registry.npmjs.org
//npm.pkg.github.com/:_authToken=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
@ms-dosx86:registry=https://npm.pkg.github.com