registry=https://registry.npmjs.org
@ms-dosx86:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/:_authToken=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